<a href="https://colab.research.google.com/github/Dhaksa/Employee-Insights-Dashboard/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sanjanchaudhari/employees-performance-for-hr-analytics")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/sanjanchaudhari/employees-performance-for-hr-analytics?dataset_version_number=1...

100%|██████████| 205k/205k [00:00<00:00, 566kB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/sanjanchaudhari/employees-performance-for-hr-analytics/versions/1

In [ ]:
import os

dataset_path = "/root/.cache/kagglehub/datasets/sanjanchaudhari/employees-performance-for-hr-analytics/versions/1"

print(os.listdir(dataset_path))

['Uncleaned_employees_final_dataset (1).csv']

In [ ]:
import pandas as pd
file_name = "Uncleaned_employees_final_dataset (1).csv"
file_path = os.path.join(dataset_path, file_name)

df = pd.read_csv(file_path, encoding='ISO-8859-1')
print("Shape of dataset:", df.shape)

Shape of dataset: (17417, 13)

In [ ]:
df.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met_more_than_80,awards_won,avg_training_score
0,8724,Technology,region_26,Bachelors,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelors,f,other,1,31,3.0,5,0,0,51

In [ ]:
df.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met_more_than_80', 'awards_won',
       'avg_training_score'],
      dtype='object')

In [ ]:
df.duplicated().sum()

np.int64(2)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.isnull().sum()

employee_id                 0
department                  0
region                      0
education                 771
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating     1363
length_of_service           0
KPIs_met_more_than_80       0
awards_won                  0
avg_training_score          0
dtype: int64

In [ ]:
df['education'].fillna(df['education'].mode()[0], inplace=True)

<ipython-input-9-f1f32a94ff0d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['education'].fillna(df['education'].mode()[0], inplace=True)

In [ ]:
df['previous_year_rating'].fillna(df['previous_year_rating'].mode()[0], inplace=True)

<ipython-input-10-6355f2568b65>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['previous_year_rating'].fillna(df['previous_year_rating'].mode()[0], inplace=True)

In [ ]:
print(df['previous_year_rating'].isnull().sum())

0

In [ ]:
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]

In [ ]:
df.dtypes

employee_id                int64
department                object
region                    object
education                 object
gender                    object
recruitment_channel       object
no_of_trainings            int64
age                        int64
previous_year_rating     float64
length_of_service          int64
kpis_met_more_than_80      int64
awards_won                 int64
avg_training_score         int64
dtype: object

In [ ]:
df.to_csv('cleaned_employees_final_dataset.csv', index=False)

In [ ]:
from google.colab import files
files.download('cleaned_employees_final_dataset.csv')

In [ ]:
data=pd.read_csv("/content/cleaned_employees_final_dataset.csv")
data.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'kpis_met_more_than_80', 'awards_won',
       'avg_training_score'],
      dtype='object')